<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bydn_virtualmirror>
            <general>
                <enable>0</enable>
                <model>nano_banana</model>
                <prompt>Modify the first image to make the person in it to wear the garment of the person in the second image.</prompt>
            </general>
        </bydn_virtualmirror>
    </default>
</config>
