<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bydn_ai" translate="label" sortOrder="2500">
            <label>AI Extensions (by DN)</label>
        </tab>
        <section id="bydn_virtualmirror" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Virtual Mirror</label>
            <tab>bydn_ai</tab>
            <resource>Bydn_VirtualMirror::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Virtual Mirror</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Disables the module</comment>
                </field>
                <field id="model" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>AI Model</label>
                    <source_model>Bydn\VirtualMirror\Model\Source\Model</source_model>
                </field>
                <field id="prompt" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Default prompt</label>
                    <comment>Default prompt (can be overriden for a particular model or product)</comment>
                </field>
            </group>
            <group id="nano_banana" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Model Configuration</label>
                <field id="api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Key</label>
                    <depends>
                        <field id="enable">1</field>
                        <field id="model">gemini_nano_banana</field>
                    </depends>
                    <comment>Paste your Nano Banana API key here</comment>
                </field>
            </group>
            <group id="prompt_by_set" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Specific prompts</label>
                <field id="prompts" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Bydn\VirtualMirror\Block\Adminhtml\Config\Field\Prompts</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Create unique prompts for each attribute set — e.g., different ones for tops, bags, shoes, etc.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
